<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center" style="background-image: url(background.jpg); height: 400px; background-position: center; background-size: cover;" >
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape_mars" role="button"> Scrape All Info</a></p>
    </div>

    <!--News  -->
    <div class="container">
      <div class="row" id="mars_news">
        <div class=" media">
          <div class="media-body">
            <h4> Mars News</h4> 
            <h5 style="color: grey">{{mars_results.news_title}}</h5>
            <p style="color: black">{{mars_app.news_p}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--image  -->
    <div class="container">
      <div class="row" id="mars-featured-image">
          <div class="col-lg-8 col-md-8 col-sm-12">
          <h4>Featured Mars Image</h4>
              <!-- If Images are False/None/Non-Existent, Then Default to Error Message -->
              <img src="{{mars_results.featured_image}}" class="img-responsive" style="max-width:100%; max-height: auto;" alt="Mars Featured Image"/>
          </div>       
</body>

</html>

